?<div>
    <div class="logo">
        <p><img src="images/logo.png" alt=""></p>
    </div>
    <div class="main" id="main">
        <input class="inpone" type="text" placeholder="请输入用户名" ng-model="hudata.username">
    </div>
    <div class="main-ll">
        <input class="inpone-ll" type="password" placeholder="请输入密码" ng-model="hudata.password">
    </div>
    <div class="buto">
        <a href="javascript:;" ng-click='zc1()'>注册</a>
    </div>
    <div class="buto">
        <a href="javascript:;"  ui-sref="dengl">返回登录</a>
    </div>
</div>